:root {
  --main-bg-color: #fbfcfc;
  --text-color: #00214d;
  --accent-green: #00ebc7;
  --accent-yellow: #fde24f;
  --accent-pink: #ff5490;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  background: var(--accent-pink);
}

.navbar {
  background-color: var(--accent-yellow);
  padding: 0 2rem;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  img {
    max-width: 200px;
    animation: logo-animation 0.5s ease-in-out;
  }

  .container {
    a {
      color: var(--text-color);
      padding: 1rem 2rem;
      border-radius: 24px;
      font-size: 1.3rem;
      font-weight: bold;
      transition: all 0.5s ease-in-out;
    }
    a:hover {
      color: var(--accent-yellow);
      transition: all 0.5s ease-in-out;
    }
  }
}

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  position: relative;
  .container {
    z-index: 2;
    padding: 0.5rem;
    text-align: center;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      opacity: 0.7;
      margin: 0.5rem 0;
    }
    a {
      color: var(--text-color);
      display: inline-block;
      margin-top: 2rem;
      padding: 1rem 2rem;
      border-radius: 24px;
      font-size: 1.3rem;
      font-weight: bold;
      transition: all 0.5s ease-in-out;
    }
    a:hover {
      color: var(--main-bg-color);
    }
  }
  .video {
    position: absolute;
    top: 0;
    opacity: 0.5;
  }
}

@keyframes logo-animation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
